<h1>Welcome to Dinheiro</h1>
<p class="lead">The personal finance web app.</p>
<p>
  With dinheiro, you can easily view all your financial accounts in one place, and keep track of your spending.
  All of thisis accomplished without requiring you to upload any files or add transactiions manually;
  we take care of that for you by connecting directly to your financial institutions
  via industry-standard protocols such as OFX, and vendor-specific APIs such as PayPal's developer API.
</p>
