<% if flash[:alert].present? %>
  <div class="alert alert-info">
    <a class="close" data-dismiss="alert">&#215;</a>
    <%= content_tag :div, flash[:alert], :id => "flash_alert" %>
  </div>
<% end %>
<% if flash[:notice].present? %>
  <div class="alert alert-success">
    <a class="close" data-dismiss="alert">&#215;</a>
    <%= content_tag :div, flash[:notice], :id => "flash_notice" %>
  </div>
<% end %>
