<div class="span12">
  <h1>Account Details</h1>
</div>
<div class="span12">
  <strong>Name:</strong> <%= @account.name %><br />
  <strong>Account Number:</strong> <%= @account.account_number %><br />
  <strong>Balance:</strong> <%= @account.balance %><br />
  <button class="btn btn-primary" data-loading-text="Syncing..." ng-click="sync(account, $event)">Sync</button>
</div>

<div class="span6" style="padding-top: 1em">
  <strong>Filter: </strong>
  <input ng-model="search_text" class="form-control" style="display: inline; width: 10em" />
  <select ng-model="category" class="form-control" style="display: inline; width: 10em">
    <option value="">(all)</option>
  </select>
</div>

<div class="span12">
  <div id="time-chart" style="height: 125px; width: 100%"></div>
</div>

<%= render partial: 'transactions/table' %>

<script>
</script>


